* {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: #10161b;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.heading {
	display: inline-block;
}

h1 {
	color: #999898;
	font-size: 3vw; /* Adjust font-size based on viewport width */
	margin: 2vw 0 0 0; /* Use viewport-based units for margin */
	width: 100%;
	border-right: 5px solid;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 2s steps(22), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
	50% {
		border-color: transparent;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
}
.list {
	display: flex;
	height: 80%;
	flex-wrap: wrap; /* Allow items to wrap on smaller screens */
	justify-content: center;
	align-items: center;
	padding: 20px; /* Add some padding around the list */
	width: 100%; /* Ensure the list takes the full width */
}

.item {
	margin: 5px;
	flex: 1 1 calc(25% - 10px); /* Adjust items to take up 25% of the container */
	max-width: 140px;
	height: auto; /* Allow height to adjust based on image aspect ratio */
}

img {
	width: 100%; /* Ensure images are responsive */
	height: auto;
}

/* Animation */
.list {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}
.list .item {
	filter: brightness(0);
	transition: 0.5s;
}
.list .item:hover {
	filter: brightness(1);
	transform: translateZ(190px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.445),
		0 6px 20px 0 rgba(0, 0, 0, 0.705);
}
.list .item:hover + * {
	filter: brightness(0.6);
	transform: translateZ(150px) rotateY(40deg);
}
.list .item:hover + * + * {
	filter: brightness(0.4);
	transform: translateZ(70px) rotateY(20deg);
}
.list .item:hover + * + * + * {
	filter: brightness(0.2);
	transform: translateZ(30px) rotateY(10deg);
}
.list .item:has(+ *:hover) {
	filter: brightness(0.6);
	transform: translateZ(150px) rotateY(-40deg);
}
.list .item:has(+ * + *:hover) {
	filter: brightness(0.4);
	transform: translateZ(70px) rotateY(-20deg);
}
.list .item:has(+ * + * + *:hover) {
	filter: brightness(0.2);
	transform: translateZ(30px) rotateY(-10deg);
}

/* Media Queries */
@media (max-width: 768px) {
	h1 {
		font-size: 5vw; /* Adjust heading size for smaller screens */
		margin: 2vw 0 5vw 0;
	}
	.item {
		flex: 1 1 calc(50% - 10px); /* Adjust items to take up 50% of the container */
		max-width: 45%;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 12vw; /* Further adjust heading size for very small screens */
		margin: 15vw 0 10vw 0;
	}
	.item {
		flex: 1 1 calc(100% - 10px); /* Adjust items to take up 100% of the container */
		max-width: 90%;
	}
	.list {
		padding: 10px;
	}
}
